<!DOCTYPE html>
<html>
  <head>
    <title>Fuse Styleguide | Red Ventures</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1 user-scalable=no">

    <!-- Favicons -->

    <!-- Stylesheets -->
    <link href="../stylesheets/application.css" rel="stylesheet" type="text/css" /><link href="../stylesheets/syntax.css" rel="stylesheet" type="text/css" />

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,400,700,400italic' rel='stylesheet' type='text/css'>
  </head>
  <body class="components components_index">
    <aside role="sidebar" class="page__navigation">
  <header role="banner" class="page__navigation__header">
<a href="/">      <img class="logo" src="../images/logos/logo-white.svg" />
</a>  </header>
  <nav role="navigation" class="page__navigation__navbar">
    <h6 class="navbar__title">NAVIGATION</h6>
    <ul class="navbar__links">
        <li class="navbar__item">
          <a class="navbar__link--toggle" href="#">Design Components</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="components/#alerts">Alerts</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="components/#buttons">Buttons</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="components/#form-elements">Form Elements</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="components/#modal">Modals</a>
              </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link--toggle" href="#">Design Elements</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="elements/#colors">Colors</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="elements/#icons">Icons</a>
              </li>
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="elements/#typography">Typography</a>
              </li>
          </ul>
        </li>
        <li class="navbar__item">
          <a class="navbar__link--toggle" href="#">Layout Elements</a>
          <ul class="navbar__submenu" aria-hidden="true">
              <li class="navbar__submenu__item">
                <a class="submenu__item__link" href="layout/#navigation">Navigation</a>
              </li>
          </ul>
        </li>
    </ul>
  </nav>
</aside>
    <main role="main" class="page">
      <header role="banner" aria-labelledby="styleguide-componets" class="section__header section__header--shadow">
  <div class="header__container">
    <h1 class="header__title" id="styleguide-components">Design Components</h1>
  </div>
</header>
<section role="region" aria-labelledby="alerts" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="alerts">Alerts</h4>
    </div>
  </header>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Base Style</h5>
    </header>
      <figure class="alert alert--success">
<a class="alert__icon-trigger" role="button" href="#">        <svg version="1.1" id="Layer_1" x="0px" y="0px" viewbox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve" class="alert__icon">
<g id="Page-1">
  <path id="app-icon" class="st0" d="M0.8,1.7l13.2,13.2c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.2,0.3c-0.4-0.4-1-0.4-1.4,0 S0.4,1.4,0.8,1.7L0.8,1.7z M1.7,15.2L15.2,1.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,13.8c-0.4,0.4-0.4,1,0,1.4 C0.7,15.6,1.3,15.6,1.7,15.2L1.7,15.2z"></path></g>
</svg>

</a>        <h5 class="alert__title">High fives! You have successfully completed an action.</h5>
      </figure>
      <figure class="alert alert--danger">
<a class="alert__icon-trigger" role="button" href="#">        <svg version="1.1" id="Layer_1" x="0px" y="0px" viewbox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve" class="alert__icon">
<g id="Page-1">
  <path id="app-icon" class="st0" d="M0.8,1.7l13.2,13.2c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.2,0.3c-0.4-0.4-1-0.4-1.4,0 S0.4,1.4,0.8,1.7L0.8,1.7z M1.7,15.2L15.2,1.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,13.8c-0.4,0.4-0.4,1,0,1.4 C0.7,15.6,1.3,15.6,1.7,15.2L1.7,15.2z"></path></g>
</svg>

</a>        <h5 class="alert__title">Well this is awkward. That action didn't go as planned.</h5>
      </figure>
      <figure class="alert alert--warning">
<a class="alert__icon-trigger" role="button" href="#">        <svg version="1.1" id="Layer_1" x="0px" y="0px" viewbox="0 0 16 16" style="enable-background:new 0 0 16 16;" xml:space="preserve" class="alert__icon">
<g id="Page-1">
  <path id="app-icon" class="st0" d="M0.8,1.7l13.2,13.2c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.2,0.3c-0.4-0.4-1-0.4-1.4,0 S0.4,1.4,0.8,1.7L0.8,1.7z M1.7,15.2L15.2,1.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,13.8c-0.4,0.4-0.4,1,0,1.4 C0.7,15.6,1.3,15.6,1.7,15.2L1.7,15.2z"></path></g>
</svg>

</a>        <h5 class="alert__title">Oh snap! That wasn't suppose to happen. Give it another try.</h5>
      </figure>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Sample Code</h5>
    </header>
<pre class="highlight html"><code>  <span class="nt">&lt;figure</span> <span class="na">class=</span><span class="s">"alert alert--success"</span><span class="nt">&gt;</span>
    <span class="nt">&lt;a</span> <span class="na">class=</span><span class="s">"alert__icon-trigger"</span> <span class="na">role=</span><span class="s">"button"</span> <span class="na">href=</span><span class="s">"#"</span><span class="nt">&gt;</span>
      <span class="nt">&lt;svg</span> <span class="na">x=</span><span class="s">"0px"</span> <span class="na">y=</span><span class="s">"0px"</span> <span class="na">viewBox=</span><span class="s">"0 0 16 16"</span> <span class="na">class=</span><span class="s">"alert__icon"</span><span class="nt">&gt;</span>
        <span class="nt">&lt;g&gt;</span>
          <span class="nt">&lt;path</span> <span class="na">id=</span><span class="s">"app-icon"</span> <span class="na">class=</span><span class="s">"st0"</span> <span class="na">d=</span><span class="s">"M0.8,1.7l13.2,13.2c0.4,0.4,1,0.4,1.4,0c0.4-0.4,0.4-1,0-1.4L2.2,0.3c-0.4-0.4-1-0.4-1.4,0 S0.4,1.4,0.8,1.7L0.8,1.7z M1.7,15.2L15.2,1.7c0.4-0.4,0.4-1,0-1.4c-0.4-0.4-1-0.4-1.4,0L0.3,13.8c-0.4,0.4-0.4,1,0,1.4 C0.7,15.6,1.3,15.6,1.7,15.2L1.7,15.2z"</span><span class="nt">&gt;&lt;/path&gt;</span>
        <span class="nt">&lt;/g&gt;</span>
      <span class="nt">&lt;/svg&gt;</span>
    <span class="nt">&lt;/a&gt;</span>
    <span class="nt">&lt;h5</span> <span class="na">class=</span><span class="s">"alert__title"</span><span class="nt">&gt;</span>High fives! You have successfully completed an action.<span class="nt">&lt;/h5&gt;</span>
  <span class="nt">&lt;/figure&gt;</span>
</code></pre>
  </div>
  <div class="section__body">
    <header role="title" class="body__header">
      <h5 class="body__header__title">Component Usage</h5>
      <p>Alerts are to be used when a user needs to be notified of an action they took. For example, if a user creates a new account in the system, they should be notified if the action succeed or failed. There are three styles of alerts: Success, warning and danger / failure. Depending on the action the user should receive the appropriate response.</p>
    </header>
  </div>
</section>
<section role="region" aria-labelledby="buttons" class="page__section">
  <header role="banner" class="section__header section__header--alt">
    <div class="header__container">
      <h4 class="header__title--section" id="buttons">Buttons</h4>
    </div>
  </header>
  <div class="section__body">
  </div>
</section>
    </main>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="../javascript/application.js" type="text/javascript"></script>
  </body>
</html>